body {
    background-color: #b1e9d6;
}

hr {
    background-color: #b1e9d6;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

h1,
h3 {
    color: rgb(17, 180, 180);
}